<html>
    <head>
        <title>find</title>
    </head>
    <body>
        <form class="ui form" action="/find" method="POST">
            <div >
                <label>District :</label><br>
                <input type="text" name="text" required>
             </div>
             <div style="margin-top: 20px;">
               <input class="ui violet basic button big" type="submit">
             </div>
        </form>
    </body>
</html>