<html>
	<head>
		
		<title>Vacination App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Libre+Baskerville&display=swap" rel="stylesheet"><style>
			body {
				background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F38%2F2018%2F01%2F12224942%2Fshutterstock_648958369.jpg&q=85");
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}

			h1 {
				font-size: 60px;

				font-family: 'Libre Baskerville', serif;
				color:#000;
			}

			button .ui {
				background: linear-gradient(rgba(0,0,0,0.8));
			}

			.item {
				font-family: 'Josefin Sans', sans-serif;
			}
		</style>
	</head>
	<body>
		<div class="ui stackable inverted menu">
			<div class="item">
				<i class="stethoscope icon"></i>
			</div>
			<a class="item" href="/">HOME</a>
			<a class="item" href="/signup">SIGN UP</a>
			<a class="item" href="/login">SIGN IN</a>
		  </div>
		<div class="home" style="text-align: center; margin-top: 200px;">
			<h1>
                Vaccine First
			</h1>
			<button class="ui inverted blue button"><a style="color: black;" href="/signup">New Registration</a></button>
			<button class="ui inverted teal button"><a style="color: black;" href="/login">Login Page for Medical</a></button>
			<button class="ui inverted green button"><a style="color: black;" href="/login/admin"> Login for Admin</a></button>		

        </div>
        
        
		

	</body>
</html>