<html>
    <head>
        <title>PDF</title>
        <style>
            table, th, td {
                border: 1px solid black;
                }

                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                    }

                    th, td {
                    padding: 15px;
                    }

                    table {
                         border-spacing: 5px;
                    }

        </style>
    </head>
    <body>

        <table style="width:100%">
            <tr>
              <th>ID</th>
              <th>{{vaccimp}}</th>
            </tr>
          </table>

       
          <table style="width:100%">
            <tr>
              <th>Hospital</th>
              <th>DOB</th>
              <th>Father's Name</th>
            </tr>
            <tr>
              <td>{{vacc.hospital}}</td>
              <td>{{vacc.DOB}}</td>
              <td>{{vacc.father}}</td>
            </tr>
          </table>

          <table style="width:100%">
            <tr>
              <th>Vaccination</th>
              <th>24 hours</th>
            </tr>
            <tr>
              <td>{{vacc1.name}}</td>
              <td></td>
            </tr>
          </table>
          <table style="width:100%">
            <tr>
              <th>Vaccination</th>
              <th>6 weeks</th>
            </tr>
            <tr>
              <td>{{vacc2.v1.name}}</td>
              <td></td>
            </tr>
            <tr>
                <td>{{vacc2.v2.name}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{vacc2.v3.name}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{vacc2.v4.name}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{vacc2.v5.name}}</td>
                <td></td>
            </tr>
          </table>
          <table style="width:100%">
            <tr>
              <th>Vaccination</th>
              <th>10 weeks</th>
            </tr>
            <tr>
              <td>{{vacc3.v6.name}}</td>
              <td></td>
            </tr>
            <tr>
                <td>{{vacc3.v7.name}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{vacc3.v8.name}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{vacc3.v9.name}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{vacc3.v10.name}}</td>
                <td></td>
            </tr>
          </table>
          <table style="width:100%">
            <tr>
              <th>Vaccination</th>
              <th>14 weeks</th>
            </tr>
            <tr>
              <td>{{vacc4.v11.name}}</td>
              <td></td>
            </tr>
            <tr>
                <td>{{vacc4.v12.name}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{vacc4.v13.name}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{vacc4.v14.name}}</td>
                <td></td>
            </tr>
            <tr>
                <td>{{vacc4.v15.name}}</td>
                <td></td>
            </tr>
          </table>
          <table style="width:100%">
            <tr>
              <th>Vaccination</th>
              <th>6 months</th>
            </tr>
            <tr>
              <td>{{vacc5.v16.name}}</td>
              <td></td>
            </tr>
            <tr>
                <td>{{vacc5.v17.name}}</td>
                <td></td>
            </tr>
          </table>
    </body>
</html>