<html>
	<head>
		<title>Vacination App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	
	</head>
	<body>
       <a  href="/"><i class="home icon"></i></a> 
	<div class="ui main text container">
        <h1 class="ui dividing header" style="margin-top: 40px;">Id's of Patients</h1>
	<div class="ui top attached segment" style="margin-top:50px;">
		<div class="ui divided items">
			 <% vaccs.forEach(function(vacc){ %>
			<div class="ui horizontal segments">
				<div class="ui segment">
				  <a class="header" href="/details/<%= vacc._id %>"><%= vacc._id %></a>
				</div>
  			</div>
		  <% }) %> 
		 
		</div>
	</div>
</div>
	</body>
</html>